Source: osdlyrics
Section: x11
Priority: optional
Maintainer: TualatriX <tualatrix@gmail.com>
Build-Depends: debhelper,
               intltool,
               autotools-dev,
               libtool,
               libgtk2.0-dev,
               libdbus-glib-1-dev,
               libcurl3-dev | libcurl4-dev,
               libnotify-dev,
               libsqlite3-dev,
               libmpd-dev,
               libxmmsclient-dev,
               libnotify-dev,
               libappindicator-dev
Standards-Version: 3.9.1
Homepage: http://code.google.com/p/osd-lyrics/

Package: osdlyrics
Architecture: any
Depends: libgtk2.0-0, libcurl3 | libcurl4, libdbus-glib-1-2, ${shlibs:Depends}
Description: An OSD lyrics show compatible with various media players.
 OSD Lyrics is inspired by lrcdis. It is a third-party lyrics
 display program, and focus on OSD lyrics display.
 OSD Lyrics currently supports following media players:
 * Amarok 1.4 (High CPU usage)
 * Amarok 2.0
 * Audacious
 * Banshee
 * Exaile
 * Rhythmbox
 OSD Lyrics can download lyrics from following web sites:
 * Sogou
 * Qianqian

