Source: osdlyrics
Section: x11
Priority: optional
Maintainer: James Lu <james@overdrivenetworks.com>
Build-Depends: autotools-dev,
               debhelper (>= 10),
               intltool,
               libappindicator-dev,
               libdbus-glib-1-dev,
               libgtk2.0-dev,
               libnotify-dev,
               libtool,
               python:any
Standards-Version: 4.1.4
Homepage: https://github.com/osdlyrics/osdlyrics
Vcs-Browser: https://github.com/utopia-repository/osdlyrics
Vcs-Git: https://github.com/utopia-repository/osdlyrics

Package: osdlyrics
Architecture: any
Depends: libdbus-glib-1-2,
         libgtk2.0-0,
         python,
         python-chardet,
         python-dbus,
         python-gobject-2,
         python-pycurl,
         ${misc:Depends},
         ${python:Depends},
         ${shlibs:Depends}
Suggests: mpd (>= 0.16~), python-mpd (>= 0.3~)
Description: OSD lyrics display for various media players
 OSD Lyrics is a lyrics display program, inspired by lrcdis. It supports
 communication with music players via mpd, mpris (v1 and v2), and its own
 HTTP API.
 .
 OSD Lyrics can download lyrics from following web sites:
 * viewlyrics.com
 * xiami.com
